<section class="section business__section">
  <div class="container business__container">
    <p class="pre-title pre-title--centered">This is what we do</p>
    <h2 class="section-title section-title--centered section-title--business">
      Business Cases
    </h2>
    <p class="business__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-images">
      <!-- <li class="business-images__item">
        <img src="" alt="" class="business-images__image" />
      </li>
      <li class="business-images__item">
        <img src="" alt="" class="business-images__image" />
      </li>
      <li class="business-images__item">
        <img src="" alt="" class="business-images__image" />
      </li>
      <li class="business-images__item">
        <img src="" alt="" class="business-images__image" />
      </li>
      <li class="business-images__item">
        <img src="" alt="" class="business-images__image" />
      </li>
      <li class="business-images__item">
        <img src="" alt="" class="business-images__image" />
      </li> -->
    </ul>
  </div>
</section>
