<section id="cases" class="section business__section">
  <div class="container business__container">
    <p class="pre-title pre-title--centered">This is what we do</p>
    <h2 class="section-title section-title--centered section-title--business">
      Business Cases
    </h2>
    <p class="business__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <div class="business-images" id="gallery-container">
      <a
        href="./images/cases/cases1@2x.jpg"
        class="business-images__item"
        data-title="Lorem ipsum dolor sit amet consectetur."
        data-lightbox="image-1"
        ><picture class="business-images__picture">
          <source
            srcset="
              ./images/cases/cases1@2x.webp 2x,
              ./images/cases/cases1.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases1@2x.jpg 2x,
              ./images/cases/cases1.jpg    1x
            "
            type="image/jpeg"
          />
          <img
            class="business-images__image"
            src="./images/cases/cases1.jpg"
            alt="photo of our work"
            loading="lazy"
          /> </picture
      ></a>
      <a
        href="./images/cases/cases2@2x.jpg"
        class="business-images__item"
        data-title="Lorem ipsum dolor sit amet consectetur."
        data-lightbox="image-1"
        ><picture>
          <source
            srcset="
              ./images/cases/cases2@2x.webp 2x,
              ./images/cases/cases2.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases2@2x.jpg 2x,
              ./images/cases/cases2.jpg    1x
            "
            type="image/jpeg"
          />
          <img
            src="./images/cases/cases2.jpg"
            alt="photo of our work"
            loading="lazy"
          /> </picture
      ></a>
      <a
        href="./images/cases/cases3@2x.jpg"
        class="business-images__item"
        data-title="Lorem ipsum dolor sit amet consectetur."
        data-lightbox="image-1"
        ><picture>
          <source
            srcset="
              ./images/cases/cases3@2x.webp 2x,
              ./images/cases/cases3.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases3@2x.jpg 2x,
              ./images/cases/cases3.jpg    1x
            "
            type="image/jpeg"
          />
          <img
            src="./images/cases/cases3.jpg"
            alt="photo of our work"
            loading="lazy"
          /> </picture
      ></a>
      <a
        href="./images/cases/cases4@2x.jpg"
        class="business-images__item"
        data-title="Lorem ipsum dolor sit amet consectetur."
        data-lightbox="image-1"
        ><picture>
          <source
            srcset="
              ./images/cases/cases4@2x.webp 2x,
              ./images/cases/cases4.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases4@2x.jpg 2x,
              ./images/cases/cases4.jpg    1x
            "
            type="image/jpeg"
          />
          <img
            src="./images/cases/cases4.jpg"
            alt="photo of our work"
            loading="lazy"
          /> </picture
      ></a>
      <a
        href="./images/cases/cases5@2x.jpg"
        class="business-images__item"
        data-lightbox="image-1"
        data-title="Lorem ipsum dolor sit amet consectetur."
        ><picture>
          <source
            srcset="
              ./images/cases/cases5@2x.webp 2x,
              ./images/cases/cases5.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases5@2x.jpg 2x,
              ./images/cases/cases5.jpg    1x
            "
            type="image/jpeg"
          />
          <img
            src="./images/cases/cases5.jpg"
            alt="photo of our work"
            loading="lazy"
          /> </picture
      ></a>
      <a
        href="./images/cases/cases6@2x.jpg"
        class="business-images__item"
        data-lightbox="image-1"
        data-title="Lorem ipsum dolor sit amet consectetur."
        ><picture>
          <source
            srcset="
              ./images/cases/cases6@2x.webp 2x,
              ./images/cases/cases6.webp    1x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/cases/cases6@2x.jpg 2x,
              ./images/cases/cases6.jpg    1x
            "
            type="image/jpeg"
          />
          <img
            src="./images/cases/cases6.jpg"
            alt="photo of our work"
            loading="lazy"
          /> </picture
      ></a>
    </div>
  </div>
</section>
<!-- <source
            media="(max-width:767px)"
            width="320"
            height="480"
            srcset="img_pink_flowers_small.jpg"
          /> -->
