<section class="section callback__section">
  <div class="callback__bg"></div>
  <div class="container callback__container">
    <h2 class="section-title section-title--callback">Request Callback</h2>
    <form action="#" title="callbackForm">
      <label for="name">
        <input class="form__input" id="name" type="text" />
        <span class="form__text">Enter your name</span>
      </label>
      <label for="email">
        <input class="form__input" id="email" type="email" />
        <span class="form__text">Enter email*</span>
      </label>
      <button class="form__button" type="submit">Send</button>
    </form>
  </div>
</section>
