<section id="contact" class="section callback__section">
  <div class="callback__bg"></div>
  <div class="container callback__container">
    <h2 class="section-title section-title--callback">Request Callback</h2>
    <form
      id="callbackForm"
      action="#"
      name="callback"
      method="POST"
      data-netlify="true"
    >
      <label class="form__label" for="name">
        <input
          class="form__input"
          id="name"
          name="callback"
          type="text"
          placeholder=" "
        />
        <span class="form__text">Enter your name</span>
      </label>
      <label class="form__label" for="email">
        <input
          class="form__input"
          id="email"
          name="callback"
          type="email"
          placeholder=" "
        />
        <span class="form__text">Enter email*</span>
        <span id="emailError" class="form__error">
          <svg width="16px" height="16px">
            <use href="./images/sprite.svg#error-icon"></use>
          </svg>
          This is a required field</span
        >
      </label>
      <button class="pageButton form__button" type="submit">Send</button>
    </form>
  </div>
</section>
