<footer class="footer">
  <div class="container">
    <ul class="social-list">
      <li class="social-list__item">
        <a
          href="https://www.facebook.com/"
          class="social__link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg
            class="social__icon"
            width="35px"
            height="35px"
            aria-label="facebook icon"
          >
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          href="https://twitter.com/tweeter"
          class="social__link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg
            class="social__icon"
            width="35px"
            height="35px"
            aria-label="twitter icon"
          >
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          href="https://www.youtube.com/"
          class="social__link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg
            class="social__icon"
            width="40px"
            height="35px"
            aria-label="youtube icon"
          >
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          href="https://www.linkedin.com/"
          class="social__link"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg
            class="social__icon"
            width="31px"
            height="33px"
            aria-label="linkedin icon"
          >
            <use href="./images/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__text">Copyright © 2021 - FinanceLedger</p>
  </div>
</footer>
