<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <svg class="logo__icon" width="39px" height="35px" aria-label="logo icon">
        <use href="./images/sprite.svg#icon-logo-book"></use>
      </svg>
      <div>
        <span class="logo--green">Finance </span>
        Ledger
      </div>
    </a>
    <nav>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="" class="nav-list__link">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link">About</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link">Cases</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link">Blog</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
