<section id="hero" class="section hero__section">
  <div class="container hero__container">
    <h1 class="hero__title">The Sky Is The Limit</h1>
    <p class="hero__after-title">We provide world class financial assistance</p>
    <button class="pageButton hero__button" type="button">
      <svg
        class="hero__button__icon"
        width="9px"
        height="18px"
        aria-label="arrow icon on button"
      >
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
      Read More
    </button>
  </div>
</section>
