.callback__section {
  width: 100%;
  color: $secondary-text-color;
  @media screen and (min-width: $tablet) {
    display: flex;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    padding-bottom: 0;
  }
}

.callback__bg {
  width: 100%;
  min-height: 220px;
  background-color: $semiGreyColor;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/home/contact.jpg);
  @supports (background-image: url(../images/home/contact.webp)) {
    & {
      background-image: url(../images/home/contact.webp);
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../images/home/contact@2x.jpg);
    @supports (background-image: url(../images/home/contact@2x.webp)) {
      & {
        background-image: url(../images/home/contact@2x.webp);
      }
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    width: 50%;
    min-height: 354px;
  }
  @media screen and (min-width: $desktop) {
    min-height: 454px;
  }
}

.callback__container {
  background-color: $semiGreyColor;
  padding: 51px 15px 25px 15px;
  @media screen and (min-width: $tablet) {
    padding: 32px 15px 33px 32px;
    width: 50%;
  }
  @media screen and (min-width: $desktop) {
    padding: 56px 15px 0 20px;
  }
}

.section-title--callback {
  margin-bottom: 60px;
}

.form__label {
  display: block;
  width: 100%;
  height: 57px;
  position: relative;
  & + & {
    margin-top: 28px;
    @media screen and (min-width: $desktop) {
      margin-top: 30px;
    }
  }
}

.form__input {
  display: block;
  width: 100%;
  height: 57px;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: $white-bgcolor;
}

.form__text {
  position: absolute;
  top: 50%;
  left: 8px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: transform $transition-duration $timing-function;
  color: #808080;
  .form__input:not(:placeholder-shown) + & {
    transform: translateY(-220%);
  }
}

.form__error {
  position: absolute;
  bottom: -45%;
  left: 8px;
  display: flex;
  align-items: center;
  opacity: 0;
  font-size: 14px;
  color: #f00;
  &.show {
    opacity: 1;
  }
}
.form__button {
  min-width: 155px;
  margin-top: 24px;
  @media screen and (min-width: $desktop) {
    margin-top: 40px;
  }
}
