.team__section {
  color: $secondary-text-color;
  padding: 72px 0 50px 0;

  @media screen and (min-width: $tablet) {
    padding: 50px 0 40px 0;
  }
  @media screen and (min-width: $tablet) {
    padding: 80px 0 88px 0;
  }
}

.team-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 17px;
}

.team-list__item {
  // grid-area: 1 / 1 / 2 / 4;
}

.team-list__name {
  font-size: 20px;
  line-height: 1.35;
  margin: 16px 0 8px 0;
  text-align: center;
}

.team-list__position {
  line-height: 1.38;
  text-align: center;
}
